---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Comentario">
  <section class="main-section">
    <div class="bg-white rounded-lg flex content-center justify-around">
      <p>Mensaje</p>
      <div class="bg-red-500 p-2 w-4">
        <p>X</p>
      </div>
    </div>
  </section>
</Layout>
