---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Transmision">
  <section class="main-section">
    <h3 class="text-white">Transmision desde:</h3>
    <p class="text-white">
      Downtown Dubai, Dubai, Emiratos Árabes Unidos. Great Harbor, Jost Van
      Dyke, Islas Vírgenes Británicas. Gurugram, Haryana, India. Cross Creek Rd,
      Malibu, California, United States. Anaheim, Orange County, United States.
      Provincia de Márquez, Boyacá, Colombia. Territorio sur, cordillera central
      de los Andes, Barrancas, Colombia. Kamenets-Podolski, Ucrania. Praga,
      República Checa. Szeged, Hungría. Cordillera de los Andes, San Juan de
      Pasto. Cordillera Central de los Andes entre el Cañón del Combeima y el
      Valle del Magdalena, en cercanías del Nevado del Tolima. Contenido
      recopilado por inteligencia artificial, la música suena en forma aleatoria
      de géneros e idiomas ya que la programación depende del lugar donde esté
      ubicado el servidor disponible en ese momento, esta página web no utiliza
      cookies. Saludos afectuosos del equipo de PlanetMusic.
    </p>
  </section>
</Layout>
