---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Informacion">
  <section class="m-auto mt-8">
    <article class="m-auto">
      <p class="text-center text-white text-2xl">
        Atención los siete días de la semana, con asesores en tiempo real
        disponibles de 9:00 a.m. a 5:00 p.m. hora Colombia. Solo mensajes de
        texto vía WhatsApp.
      </p>
      <h2 class="text-white underline border-white text-center">COLOMBIA</h2>
      <p class="text-center">
        <a class="text-white text-2xl" href="tel:+573245864647"
          >(324) 586-4647</a
        >
      </p>
      <p class="text-white text-center text-2xl">
        Dentro y fuera de Colombia, puede enviar sus consultas, quejas,
        peticiones o reclamos a la siguiente dirección de correo electrónico.
      </p>
      <p class="text-center">
        <a class="text-white" href="mailto:contac@planetmusic.online"
          >CONTAC@PLANETMUSIC.ONLINE</a
        >
      </p>
      <p class="text-white text-center text-2xl">
        Si tu consulta es de caracter comercial o laboral por favor escribirla
        a:
        <a class="text-white" href="mailto:business@planetmusic.online"
          >BUSINESS@PLANETMUSIC.ONLINE</a
        >
      </p>
      <p class="text-white text-center text-2xl">¿Es esta información útil?</p>
    </article>
  </section>
</Layout>
