---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Terminos y condiciones">
  <section class="main-section">
    <p class="text-white">Terminos y condiciones de PLANET MUSIC ONLINE</p>
    <p class="text-white">
      Al acceder, utilizar o visitar nuestro sitio web www.planetmusic.online,
      usted manifiesta su aceptación de estos términos y condiciones. Si en
      algún momento decide no estar de acuerdo con estos términos, puede
      prescindir de nuestros servicios eliminando su acceso y absteniéndose de
      visitar nuestra página.
    </p>
    <p class="text-white">Edad Minima</p>
    <p class="text-white">
      Al utilizar este sitio web, usted declara tener al menos 18 años o la
      mayoría de edad en su país de residencia o nacimiento. Esta limitación de
      edad es necesaria para acceder a ciertos contenidos específicos para
      adultos. Con su visita, confirma que posee la madurez necesaria para ver
      contenido explícito y reconoce la posibilidad de exponerse a materiales
      variados de los que no somos responsables en su totalidad.
      <p class="text-white">Normas de comportamiento</p>

      <p class="text-white">
        En nuestra plataforma se prohíbe el uso de vocabulario inapropiado y
        cualquier forma de acoso, bullying, discriminación, racismo, agresión o
        maltrato. No asumimos responsabilidad alguna por los mensajes escritos
        por terceros en el sitio, sin embargo, nos reservamos el derecho de
        moderar cualquier contenido que consideremos inadecuado.
      </p>
      <p class="text-white">Derechos de Propiedad Intelectual</p>
      <p class="text-white">
        La música transmitida en nuestra emisora es propiedad exclusiva de sus
        respectivos creadores, tales como compositores, arreglistas, intérpretes
        y músicos. Planet Music Online actúa únicamente como un medio de
        difusión y no como propietario de este material. Respetamos y
        reconocemos todos los derechos de autor y de propiedad intelectual,
        incluidos aquellos de imágenes y referencias utilizadas con fines
        didácticos y recreativos. Cualquier uso de estos elementos se realiza en
        homenaje a los autores y propietarios legítimos.
      </p>
      <p class="text-white">Mensajes Comerciales</p>
      <p class="text-white">
        El envío de mensajes a través de nuestra plataforma está sujeto a una
        cuota, debido a que tienen fines comerciales y su difusión es dirigida a
        nuestra audiencia.
      </p>
      <p class="text-white">Consultas y Atención al Cliente</p>
      <p class="text-white">
        Para cualquier consulta, queja o solicitud de información, no dude en
        contactarnos a través de nuestro correo electrónico
        contac@planetmusic.online. Nuestro equipo se compromete a responder en
        el menor tiempo posible y a brindarle una solución adecuada.
      </p>
      <p class="text-white">
        Nota: Planet Music Online es una emisora dedicada a la música global y
        ofrece acceso gratuito a todos sus géneros y servicios, salvo en el caso
        de mensajes comerciales como se especifica en estos términos. Al
        utilizar nuestro sitio, usted se compromete a hacerlo de forma
        responsable y en conformidad con las políticas aquí establecidas.
      </p>
    </p>
  </section>
</Layout>
